@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
 * {
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
    margin: 0;
    padding: 0;

  }

:root 
 {
    --bg-color: rgb(125, 108, 125);
    --bg-color-light: rgb(173, 161, 173);
    --bg-color-dark-hover: rgb(82, 66, 82);
    --main-color: rgb(246, 246, 239);


  }
  

h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    
}

 
.todo-container {
    height: 100vh;
    background-color:var(--bg-color-dark-hover) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.todo-list-box{
    background-color: var(--bg-color);
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 2rem;
}

.todo-list-container{
    background-color: var(--bg-color-light);
    font-size: larger;
    border-radius: 0.5rem;
    margin-bottom: 4rem;
  
}

ul li{

    list-style: none;
    display: flex;
    flex-direction: row;
    gap:1rem;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;  
} 


ul li .check-box:hover{
    color: var(--bg-color-light);
}
ul :hover{
    background-color: var(--bg-color-dark-hover);
    color: var(--bg-color-light);
}

.enterTodo{
    width: 400px;
}

.action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.arrow-up:hover {
    color: var(--bg-color-light);
}

.arrow-down:hover {
    color: var(--bg-color-light);
}

.delete:hover{
        color: var(--bg-color-light);
}

.move{
    display: flex;
    flex-direction: column;
}

form{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}

input {
   
    width: 80%;
    height: 3rem;
    margin-top:1rem;
    border-radius: 0.3rem;
    font-size: large;
    background-color: var(--main-color);
    border: none;
    outline: none;
    
}

button{
    
    width: 6rem;
    height: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 0.3rem;
    background-color: var(--main-color);
    font-size: medium;
    font-weight: 600;
    border: none;
    outline: none;
    cursor:pointer;
}

button:hover{
    background-color: var(--bg-color-light);
}



